# Never commit the walkthrough itself. It's someone else's copyrighted work and
# lives only on your own devices.
*.txt
*.pdf
*.epub
*.zip
!test/fixtures/*.txt
!test/fixtures/*.zip

# Local clutter
.DS_Store
node_modules/
test/output/
